.page-filter,.sort-results-switch {
  line-height: 42px;
  display: inline-block;
  margin-right: 20px;
}

.page-filter label,.sort-results-switch label {
  display: inline;
}

.results-paginator-options {
  border-bottom: solid 1px #efebe8;
}

.page-info,.page-nav {
  display: inline-block;
}

.page-nav {
  float: right;
}