.tree-container {
  min-height: 400px; 
}

.list-container {
  width: 100%;
}

.search-widget-container {
  width: 100%;
  min-height: 100px;
}

.selector {
  text-align: center;
  width: 48%;
  margin: 2px;
  float: left;
  cursor: pointer;
}
.border {
  border-style: solid;
  border-width: 1px;
}

.fuelux .icon-folder-open {
  background-position: -24px -96px;
}

.fuelux .tree .tree-item {
  height: 60px;
}

.off {
  display: none;
}