#institution-tree {
  height: 600px;
  overflow: auto;
  border: 1px solid #BBBBBB;
  border-radius: 4px 4px 4px 4px;
}

.jstree a:hover {
  text-decoration: underline;
  color: green;
}

.search-widget-container {
  width: 100%;
  min-height: 100px;
}

.selector {
  text-align: center;
  width: 48%;
  margin: 2px;
  float: left;
  cursor: pointer;
  background-color: grey;
  color: black;
}

.selector.active{
  background-color: green;
  color: white;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.off {
  display: none;
}